{% extends "admin/change_list.html" %}
{% load i18n admin_list %}

{% block result_list %}

<div class="d-flex justify-content-end">
  <button class="btn btn-primary mx-3" id="download_excel" disabled>
     Rapport Excel
  </button>
  <a class=" btn btn-success mx-3" href="/admin/deals/deal/add/">
      Ajouter deal
  </a>
</div>

<script>
  let element = document.getElementById('download_excel')
  if (window.location.href.includes('starting_date__year'))
    element.disabled = false


    let url = new URL(window.location.href);
    let year = url.searchParams.get("starting_date__year");
    element.addEventListener('click', ()=>open(`/deals/DealExportExcel/?year=${year}`, '_blank'))

</script>


  {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
  {% if cl %}
    {% result_list cl %}
  {% endif %}
  {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
{% endblock %}
