{% extends "admin/change_list.html" %}
{% load i18n admin_list %}

{% block result_list %}

<div class="d-flex justify-content-end">
  <button class="btn btn-primary" id="download_excel" disabled>
     Rapport Excel
  </button>
</div>

<script>
  let element = document.getElementById('download_excel')
  if (window.location.href.includes('date__year'))
    element.disabled = false


    let url = new URL(window.location.href);
    let date__month = url.searchParams.get("date__month");
    let date__year = url.searchParams.get("date__year");
    element.addEventListener('click', ()=>open(`https://app.liliumpharma.com/clients/sales/export-excel/?year=${date__year}&month=${date__month}`, '_blank'))

</script>


  {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
  
  {% if cl %}
    {% result_list cl %}
  {% endif %}
    
  
  {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
{% endblock %}
