<br>
    Chèr(e) <b> {{usr.first_name}} {{usr.last_name}} </b> .
    <br/><br/>
    En raison de la non-soumission du rapport de travail à temps Nous sommes désolés de vous informer qu'hier, 
    {{yesturday}} Une absence officielle sera déduite de votre salaire. 
    <br/><br/>Vous pouvez néaumoins justifier votre absence sur l'application des Congés & Absences pour annuler celle-ci.
    <br/><br/>
    Cordialement.
</p>
<br/>
<img src="https://liliumpharma.com/static/img/logo.png" width="60px" height="60px" > 
<br/>
    <b>
        LILIUMPHARMA <br/>
        Direction des Ressources Humaines.
    </b><br/>
    <b>
       lilium.dz@gmail.com <br/>
    </b>