<p>
    {% if usr.userprofile.gender  == "Homme" %} Monsieur {% else %} Madame {% endif %} <b> {{usr.first_name}} {{usr.last_name}} </b> .
    <br/>
    En raison du manque d'informations sur votre rapport d'hier   {{yesturday}}, nous vous envoyons ce mail afin de vous inviter 
    a remplir vos visites manquantes.<br/>

    Cordialement. 
    
</p>

<img src="https://liliumpharma.com/static/img/logo.png" width="60px" height="60px" > <br/>
    <b>
        LILIUMPHARMA <br/>
        Direction des Ressources Humaines.
    </b> <br/>
    <b>
        r.boutitaou@liliumpharma.com <br/>
    </b>
