{% extends 'base.html'%}
{% block title %}Reinitialisation du mot de passe{% endblock title %}

{% block body %}

<div class="alert alert-success my-4" role="alert">
  <p class="lead">
    Nous vous avons envoyé des instructions pour définir votre mot de passe, si un compte existe avec le courrier que vous avez entré. Vous devriez les recevoir sous peu.
  </p>
  <p class="lead">
    Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier de courrier indésirable.
  </p>
</div>



{% endblock body %}
