{% extends 'base.html'%}
{% block title %}réinitialiser mot de passe{% endblock title %}
{% load accounts_extras %}
{% block body %}

<div class="container py-5">
  <div class="row">
    <div class="col-md-4 offset-md-4 shadow border py-4">
      <h5 class='text-center font-weight-light'>Changer mot de passe</h5>
      <form  method="post">
        {%csrf_token%}
        <div class="py-2">
          Votre adresse mail:
          {{form.email|add_class:"form-control"}}
        </div>
        <div class="py-1 text-center">
          <button type="submit" class=" btn btn-primary btn-block border-0">Envoyer e-mail de confirmation</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock body %}
