{% extends 'base.html'%}
{%block title%} Changer mot de passe {%endblock title%}

{% load accounts_extras %}

{%block body%}

<div class="container py-4">
  <div class="col-md-4 offset-md-4 shadow border pb-4">
    <h1 class="text-center pt-4 pb-1 font-weight-light">Change your password</h1>
    <form method="post">
      {% csrf_token %}
      <div class="container">
        <div class="col-md-10 offset-md-1">
          <div class="pb-2">
            <label for="">Nouveau mot de passe:</label>
            {{ form.new_password1|add_class:"form-control" }}
            {{ form.new_password1.errors}}
          </div>
          <div class="pb-2">
            <label for="">Confirmer mot de passe:</label>
            {{ form.new_password2|add_class:"form-control" }}
            {{ form.new_password2.errors}}
          </div>
          <div class="text-center py-3"><button type="submit" class="btn btn-primary border-0 btn-block">changer mot de passe</button></div>
        </div>


      </div>
    </form>
  </div>
</div>

 {%endblock body%}
