{% extends 'base.html'%}
{% block title%} Profil {% endblock title%}

{% load static %}
{% block body%}
    <div class="couverture"></div>
    <div class="bg-white pt-1"></div>
  <div class="container-fluid profile-container">
    <div class="row">
      <div class="col-md-2 position-relative">
        <div class='rounded-circle profile-image mx-auto shadow'>
          <img src="{{user.userprofile.image.url}}" alt="" class='center w-100'>
          <a class='edit-btn shadow' href="{% url 'edit_profile' %}/"><i class='fa fa-pen  center text-night'></i></a>
        </div>



      </div>
      <div class="col-md pt-4">
        <div class="row">
          <div class="col-md-4">
            <h1 class="hand-font text-white">{{user.username}}</h1>
            <h4 class="text-night d-inline-block p-1 border-radius-10 font-weight-light" style='background: rgba(255,255,255,.9);'> <i class="fa fa-envelope"></i> {{user.email}}</h4>
            <h4 class='text-night'><i class="fa fa-phone"></i> {{user.userprofile.telephone}}</h4>
            <div class="lead"><h4 class='text-night d-inline'><i class="fa fa-map-marker"></i></h4> {{user.userprofile.wilaya}} {{user.userprofile.ville}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-4  shadow-lg my-2 border-radius-30">
      <h1 class="hand-font">  Articles:</h1>
      <div class="row py-3">

      </div>
    </div>
  </div>
{% endblock body%}
